*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "PT Sans", sans-serif;
  color: #444140;
  font-weight: 400;
  font-size: 1.4rem; }

button {
  cursor: pointer; }

a {
  text-decoration: none; }

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 2rem; }

header {
  background: #5755d9;
  color: #f8fafc;
  padding: 2rem 0; }

.heading--1,
.heading--3 {
  font-weight: 400;
  letter-spacing: 0.5px; }

.actions {
  background-color: #fcfcfe;
  border-bottom: 1px solid #acb3c2;
  padding: 1rem; }

.actions__container {
  max-width: 60rem;
  margin: 0 auto;
  min-height: 4rem;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.input {
  border: 1px solid #acb3c2;
  border-radius: 3px;
  font-size: 1.4rem;
  height: 3rem;
  margin-right: 1rem;
  padding: 0.5rem 1rem; }

.dropdown {
  border-radius: 0;
  border: 1px solid #acb3c2;
  background: white;
  font-size: 1.4rem;
  font-weight: 300;
  height: 3rem;
  margin-right: 0.8rem; }

.btn {
  border: none;
  height: 4rem;
  font-weight: 500;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  border-radius: 3px;
  letter-spacing: 1px;
  transition: all 0.2s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08); }

.btn--primary {
  background: #5755d9;
  border: 1px solid #5755d9;
  color: #f8fafc; }

.btn--primary:hover {
  background: #3c39d3; }

.btn--secondary {
  background: #8795a1;
  border: 1px solid #8795a1;
  color: #f8fafc; }

.btn--secondary:hover {
  background: #606f7b;
  color: #f8fafc; }

.btn--remove {
  background: #ef5753;
  border: 1px solid #ef5753;
  color: #f8fafc; }

.btn--remove:hover {
  background: #e3342f; }

.list-item {
  text-decoration: none;
  color: #333333;
  background: #fcfcfe;
  border: 1px solid #dedfe0;
  margin: 2rem 0;
  padding: 2rem;
  display: block;
  border-radius: 3px;
  transition: background 0.3s ease; }

.list-item:hover {
  background: #f8fafc; }

.list-item__title {
  font-size: 1.8rem;
  margin-bottom: 0.5rem; }

.list-item__subtitle {
  color: #666;
  font-size: 1.4rem;
  font-weight: 300;
  font-style: italic; }

.empty-message {
  text-align: center;
  margin: 3.2rem 0;
  font-size: 1.6rem; }

.checklist__edit {
  margin-top: 4rem; }
  .checklist__edit #checklist__title,
  .checklist__edit #checklist__item {
    border: 1px solid #acb3c2;
    border-radius: 3px;
    font-size: 1.4rem;
    height: 4rem;
    margin: 1rem 0 2rem 0;
    padding: 0.5rem 1rem; }
  .checklist__edit #checklist__title {
    width: 100%; }
  .checklist__edit #checklist__item {
    width: 50%; }
  .checklist__edit label {
    font-weight: 700;
    display: block; }
  .checklist__edit .btn {
    margin-left: 1rem; }

.edit-actions {
  margin: 4rem 0;
  display: flex;
  justify-content: space-between; }
  .edit-actions .btn {
    width: 48%; }

.items {
  margin: 1rem 0;
  list-style: none; }
  .items .item {
    background: #f6f6f6;
    margin: 1.5rem 0;
    padding: 1.5rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s; }
    .items .item__name {
      letter-spacing: 1px;
      font-size: 1.6rem; }
    .items .item__delete {
      font-size: 2.2rem;
      color: #606f7b;
      transition: all 0.2s; }
      .items .item__delete:hover {
        color: #ef5753; }
    .items .item:hover {
      background: #f8fafc; }
